<header-component></header-component>
<div class="container mx-sm-2">
    <div class="row centered margin">
        <div class="col-sm-4 col-md-4">
        </div>
        <div class="col-sm-4 col-md-4 jumbotron">
                <h3 *ngIf="this.userId != null" >Atualizar Usuário<span class="badge badge-secondary"></span></h3>
                <h3 *ngIf="this.userId == null" >Criar Usuário<span class="badge badge-secondary"></span></h3>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome:</label>
                    <input type="text" name="name" formControlName="name" class="form-control" />
                    <span *ngIf="userForm.controls.name.invalid
                                && userForm.controls.name.touched" class="text-danger">
                        Name is required.
                    </span><br>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Idade:</label>
                    <input type="text" name="age" formControlName="age" class="form-control" />
                    <span *ngIf="userForm.controls.age.invalid
                                && userForm.controls.age.touched" class="text-danger">
                        Age is required.
                    </span><br>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email(@):</label>
                    <input type="text" name="email" formControlName="email" class="form-control" />
                    <span *ngIf="userForm.controls.email.invalid
                                && userForm.controls.email.touched" class="text-danger">
                        Email is required.
                    </span><br>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone:</label>
                    <input type="tel" name="phone" formControlName="phone" class="form-control"
                    mask="(00) 0000-0000" />
                    <span *ngIf="userForm.controls.phone.invalid
                                && userForm.controls.phone.touched" class="text-danger"
                                >
                        Phone is required.
                    </span><br>
                </div>

                <button class="btn-primary" ngbButtonLabel type="submit" [disabled]="!userForm.valid">
                    <span *ngIf="this.userId != null">Atualizar</span>
                    <span *ngIf="this.userId == null">Salvar</span>
                </button>
            </form>
        </div>
        <div class="col-sm-4 col-md-4">
        </div>
    </div>

</div>